@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Noto+Sans+SC:wght@400;500;700&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --shadow-color: #ff9e9e;
  --shadow-color-light: white;
}

@font-face {
  font-family: 'DOUYU';
  src: url('/fonts/douyuFont.otf') format('opentype');
}

.glow {
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.neon {
  animation: neon 3s infinite;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073,
      0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6,
      0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light),
      0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color), 0 0 20px var(--shadow-color),
      0 0 10px var(--shadow-color), 0 0 30px var(--shadow-color), 0 0 50px var(--shadow-color),
      0 0 100px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 10px var(--shadow-color-light),
      0 0 15px var(--shadow-color-light), 0 0 30px var(--shadow-color), 0 0 30px var(--shadow-color),
      0 0 30px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 80px var(--shadow-color),
      0 0 130px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light),
      1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 5px var(--shadow-color-light),
      0 0 15px var(--shadow-color-light), 0 0 20px var(--shadow-color), 0 0 20px var(--shadow-color),
      0 0 10px var(--shadow-color), 0 0 30px var(--shadow-color), 0 0 50px var(--shadow-color),
      0 0 100px var(--shadow-color);
  }
}

/* for digital clock */
.clock {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.digit {
  width: calc(60px * 0.91);
  height: calc(100px * 0.91);
  margin: 0 0px;
  position: relative;
  display: inline-block;
}

.digit .segment {
  background: #0dcb21;
  border-radius: 5px;
  position: absolute;
  opacity: 0.15;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
}

.digit .segment.on,
.separator {
  opacity: 1;
  box-shadow: 0 0 50px rgba(0, 255, 0, 0.7);
  transition: opacity 0s;
  -webkit-transition: opacity 0s;
  -ms-transition: opacity 0s;
  -moz-transition: opacity 0s;
  -o-transition: opacity 0s;
}

.separator {
  width: 5px;
  height: 5px;
  background: #0dcb21;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 0px;
  transform: translate(0%, -25px);
}

.digit .segment:nth-child(1) {
  top: 15px;
  left: 20px;
  right: 20px;
  height: 5px;
}

.digit .segment:nth-child(2) {
  top: 20px;
  right: 15px;
  width: 5px;
  height: calc(50% - 25px);
}

.digit .segment:nth-child(3) {
  bottom: 25px;
  right: 15px;
  width: 5px;
  height: calc(50% - 25px);
}

.digit .segment:nth-child(4) {
  bottom: 20px;
  right: 20px;
  height: 5px;
  left: 20px;
}

.digit .segment:nth-child(5) {
  bottom: 25px;
  left: 15px;
  width: 5px;
  height: calc(50% - 25px);
}

.digit .segment:nth-child(6) {
  top: 20px;
  left: 15px;
  width: 5px;
  height: calc(50% - 25px);
}

.digit .segment:nth-child(7) {
  bottom: calc(50% - 0px);
  right: 20px;
  left: 20px;
  height: 5px;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
